@import url(
'https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&family=Montserrat:wght@300&display=swap'
);


body{

height:100vh;

margin:0;

display:flex;

justify-content:center;

align-items:center;


background:#f6f0e8;


}


.card{


width:300px;

padding:45px;


text-align:center;


background:#fffdf9;


border-radius:2px;


box-shadow:

0 20px 50px rgba(80,50,30,.12);


border:

1px solid #eadfd2;


}



.flower{


font-size:22px;

color:#b89b72;


}


h1{


font-family:

"Cormorant Garamond";


font-size:42px;


font-weight:500;


color:#4a4038;


margin:15px 0;


}


.line{


width:60px;

height:1px;

background:#cbb79c;

margin:20px auto;


}



p{


font-family:

Montserrat;


letter-spacing:3px;


font-size:11px;


color:#8d8175;


}



.days span{


font-family:

"Cormorant Garamond";


font-size:70px;


color:#5b4a3c;


}



.small{


margin-top:-10px;


}



.date{


margin-top:35px;


font-family:

"Cormorant Garamond";


font-size:20px;


letter-spacing:2px;


color:#756557;


}


.bottom{


margin-top:30px;


font-size:25px;

color:#b89b72;


}