.card{

    width:300px;

    padding:45px;

    text-align:center;

    background:#fffdf9;

    border-radius:2px;

    box-shadow:
    0 20px 50px rgba(80,50,30,.08);

    /* 删除边框 */
    /* border:1px solid #eadfd2; */

}
